@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}


body {
  
font-family: 'Plus Jakarta Sans', sans-serif;
  
}

.pattern_img {
  background-image: url(../images/containerImg/pattern2.2ed4f84.jpg);
}

.heroSection {
  background-image: linear-gradient(180deg, #1f2938 43.23%, #d9d9d92a 100%),url("../images/backgorundImage.png");
}

.type2Img{
  background-image:url("../images/containerImg/sobji.png");
}

.type3Img{
  background-image:url("../images/containerImg/saveLife.png");
}


.typeStory{
  background-image:url("../images/containerImg/story1.png");

}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* .scrollbar-style::-webkit-scrollbar {
    background-color: bisque;
} */

.scrollbar-style::-webkit-scrollbar {
  height: 5px;
  }
  
  /* Track */
  .scrollbar-style::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .scrollbar-style::-webkit-scrollbar-thumb {
    background: #11585494;
    border-radius: 90px;
    
  }
  
  .scrollbar-style::-webkit-scrollbar-corner {

  }
  /* Handle on hover */
  .scrollbar-style::-webkit-scrollbar-thumb:hover {
    background: #6fdad4
  }